<div class="w-full flex justify-center py-10">
  <form class="form-container" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <h1>Register</h1>
    <div class="form-row">
      <div class="form-field form-col">
        <label class="form-label" for="first-name">First Name</label>
        <input id="first-name" type="text" formControlName="name" />
      </div>
      <div class="form-field form-col">
        <label class="form-label" for="last-name">Last Name</label>
        <input id="last-name" type="text" />
      </div>
    </div>
    <button type="submit" class="btn-primary w-full">Submit</button>
    @if (registerForm.touched && registerForm.invalid) {
      <div class="form-error w-full text-center">
        <span>Name is required</span>
      </div>
    }
  </form>
</div>
